# Default values for cyberdock.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
# elasticReplicaCount: 1

imagePullSecrets: []

namespace: cyberdock

api:
  arm64: false
  version: v2.8.4
  port: 8080
  debug: false

cyberdock:
  image: thecyberdock/thecyberdock-app
  uiimage: thecyberdock/ui
  tag: latest
  HOST: 0.0.0.0
  PORT: 8000
  ACTION_BASE: http://cyberdock-web-svc.cyberdock.svc.cluster.local:8000
  SECRET_KEY: secretsecretsecretsecretsecsecretsecretsecretsecretsec
  HASURA_GRAPHQL_ADMIN_SECRET: admin
  REDIS_URL: redis://:cyberdock@cyberdock-cache-master.cyberdock.svc.cluster.local
  ELASTIC_URL: http://cyberdock-search.cyberdock.svc.cluster.local:9200
  ELASTIC_REMOTE_URL: http://cyberdock-search.cyberdock.svc.cluster.local:9200
  DATABASE_URL: postgres://postgres:cyberdock@cyberdock-db.cyberdock.svc.cluster.local/cyberdock
  HASURA_ENDPOINT: http://cyberdock-api-svc.cyberdock.svc.cluster.local:8080
  KEY: >
    '{"type": "HS256", "key": "secretsecretsecretsecretsecsecretsecretsecretsecretsec"}'

podSecurityContext:
  fsGroup: 2000

securityContext:
  runAsNonRoot: true

redis:
  image:
    repository: redis
    tag: 6.2.6
  fullnameOverride: cyberdock-cache
  auth:
    password: cyberdock
  replica:
    replicaCount: 1

postgresql:
  image:
    repository: postgres
    tag: 12.2
  fullnameOverride: cyberdock-db
  postgresqlPassword: cyberdock
  postgresqlUsername: postgres
  postgresqlDatabase: cyberdock
  postgresqlPostgresPassword: cyberdock

elasticsearch:
  fullnameOverride: cyberdock-search
  replicas: 2
  antiAffinity: "soft"
  esJavaOpts: "-Xmx128m -Xms128m"
  service:
    type: LoadBalancer
  resources:
    requests:
      cpu: "100m"
      memory: "512M"
    limits:
      cpu: "1000m"
      memory: "512M"
  # fullnameOverride: cyberdock-search
  securityContext:
    runAsUser: null
  podSecurityContext:
    fsGroup: null
    runAsUser: null
  volumeClaimTemplate:
    accessModes: ["ReadWriteOnce"]
    resources:
      requests:
        storage: 1Gi
