apiVersion: batch/v1
kind: Job
metadata:
  namespace: {{ .Release.Namespace }}
  name: cyberdock-migrator
  annotations:
    "helm.sh/hook": "post-install,post-upgrade"
    "helm.sh/hook-weight": "1"
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  template:
    metadata:
      annotations:
        jobname: "migrator"
        {{if .Values.forceRestart }}
        helm.sh/deploy-date: {{ now | quote }}
        {{end}}
    spec:
      containers:
        - args:
            - make
            - run-migrate-all
          env:
            - name: SECRET_KEY
              value: {{ .Values.cyberdock.SECRET_KEY }}
            - name: DATABASE_URL
              value: {{tpl .Values.cyberdock.DATABASE_URL .}}
            - name: ELASTIC_URL
              value: {{tpl .Values.cyberdock.ELASTIC_URL .}}
            - name: REDIS_URL
              value: {{tpl .Values.cyberdock.REDIS_URL .}}
            - name: PORT
              value: {{.Values.cyberdock.PORT | quote }}
            - name: HOST
              value: {{.Values.cyberdock.HOST | quote }}
            - name: ENDPOINT
              value: {{tpl .Values.cyberdock.HASURA_ENDPOINT .}}
            - name: HASURA_ADMIN_SECRET
              value: {{.Values.cyberdock.HASURA_GRAPHQL_ADMIN_SECRET}}

          image: {{ .Values.cyberdock.image }}:{{ .Values.cyberdock.tag }}
          imagePullPolicy: Always
          name: cyberdock-web
      restartPolicy: Never

  backoffLimit: 4
